.inputContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin-top: 1em;
}

.driveInput {
  width: 6em;
}

.hintDiv {
  display: flex;
  justify-content: center;

  margin: 5px 0 10px 0;
  font-size: 12px;
  font-style: oblique;
  color: rgb(182, 175, 166);
}

.resetDiv {
  margin-top: 3em;
  visibility: hidden;
  display: flex;
  justify-content: flex-end;
}

/* these are used for loading graphic */
.pageOverlay {
    top: 0;
    left: 0;
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: 1001;
    display: block;
}

#loadingOverlay {
    background:  #fff url('//ajax.googleapis.com/ajax/libs/dojo/1.10.4/dijit/themes/claro/images/loadingAnimation.gif') no-repeat 10px 23px;
}

.loadingMessage {
    padding: 25px 40px;
    color: #999;
}
